# git clean -fdx

*.pdf
*.log
*.aux
*.out
*.gz
*.toc
*.xmpi
*.docx
!ref.docx
note.md
todo.txt
log.md
patch_header.py.back
99.bibl.tex
*.png
!LOGO.png

# Mermaid 本地工具依赖
bin/mermaid/node_modules/

.claude

*.pyc

xml

*.svg

main.synctex(busy)

~tmp_docx_xml

*.drawio
